# Airflow
airflow-standalone/logs/
airflow-standalone/__pycache__/
airflow-standalone/plugins/__pycache__/
logs/
credentials-encrypted.json

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE y otros
.vscode/
.idea/
*.zip