# Airflow
airflow-standalone/logs/
airflow-standalone/__pycache__/
airflow-standalone/plugins/__pycache__/

# Python cache
__pycache__/
*.pyc
*.pyo
logs/

# IDE y otros
.vscode/
.idea/
*.zip
.env
credentials-encrypted.json